@import './variables';

.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:focus {
  color: $active-text-color;
  background-color: $active-background-color;
}

.nav {
  padding: 3px 2px;
}

.k-treeview {
  .k-state-focused {
    p {
      color: $active-text-color !important;
    }
    &:hover {
      color: $active-text-color !important;
      background-color: $active-background-color !important;
    }
  }
  .k-in {
    &:active {
      color: $active-text-color !important;
      background-color: $active-background-color !important;
    }
  }
}

.ki-in:hover {
  background-color: $active-background-color !important;
}
