.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:focus {
  color: black;
  background-color: #ffdd00;
}

.nav {
  padding: 3px 2px;
}

.k-treeview {
  .k-state-focused {
    p {
      color: black !important;
    }
    &:hover {
      color: black !important;
      background-color: #ffdd00 !important;
    }
  }
  .k-in {
    &:active {
      color: black !important;
      background-color: #ffdd00 !important;
    }
  }
}

.ki-in:hover {
  background-color: #ffdd00 !important;
}
