@import './variables';

.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin-top: 0.2rem;
  &:hover {
    text-decoration: underline !important;
    color: $hover-text-color !important;
    text-decoration-thickness: $hover-text-decoration-thickness !important;
  }
  &:focus {
    color: $active-text-color !important;
    text-decoration: none !important;
  }
}

.nav {
  padding: 3px 2px;
}

.k-treeview {
  .k-state-focused {
    box-shadow: none !important;
    p:hover {
      color: $active-text-color !important;
    }
    &:hover {
      color: $active-text-color !important;
      background-color: $active-background-color !important;
    }
  }
  .k-in {
    background-color: inherit !important;
    &:active {
      color: $active-text-color !important;
      background-color: $active-background-color !important;
    }
  }
}

.k-in {
  padding: 0 0 0 0 !important;
}
