/* Variables */
$active-background-color: #ffdd00 !default;
$active-text-color: #0b0c0c !default;
$hover-text-color: #003078 !default;
$hover-text-decoration-thickness: max(3px, 0.1875rem, 0.12em) !default;
$border-colour: #d3d3d3 !default;
$link-color: #005ea5 !default;
